[Desktop Entry]
Encoding=UTF-8
Name=Link to Jdeodorant: Extract class Refeactoring demo - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=0RIjwpvwOxw
Icon=text-html
Name[en_US]=Youtube:Jdeodorant: Extract class Refeactoring demo 
